<div class="w-full max-w-2xl h-full mx-auto flex flex-col items-center px-6 overflow-y-auto">
  <h1 class="uppercase font-bold mt-12">Sobre o jogo</h1>
  <section class="mt-8">
    <p class="mb-4">A convite de “Um Oceano Para Lavar As Mãos”, exposição de longa duração com curadoria de Marcelo Campos e Filipe Graciano para o Centro Cultural Sesc Quitandinha, Thiago Costa desenvolve um jogo como atividade interativa de nossas ações educativas.</p>
    <p>O artista anuncia o tensionamento presente nas lacunas da nossa história, especulando uma vingança ficcional como ferramenta de transmutação da realidade. Um poema encantado que versa acerca das possibilidades de reinvenção nas frestas e na escassez, voltando ao princípio explicativo do mundo. O jogo batalha naval presente no imaginário social como condutor de manipulação de imagens e imaginários da história.</p>
  </section>
</div>
