<script lang="ts">
  import { base } from "$app/paths";
  import { createEventDispatcher } from "svelte";
  import { fade } from "svelte/transition";
  import Explosion from "./explosion.svelte";

  const emit = createEventDispatcher();

  let boardSquares = initializeBoard();
  let isEnded = false;
  let highlightedSquare = {col: null, row: null} as {col: number | null, row: number | null};

  function initializeBoard() {
    let board = [];
    for (let i = 0; i < 13; i++) {
      board.push(new Array(17).fill("empty"));
    }
    return board;
  }

  function shootSquare(square: {col: number, row: number}) {
    highlightedSquare = {col: null, row: null};
    emit('shoot', square);
  }

  export function hitSquare(shoot: ShootResult) {
    if (
      boardSquares[shoot.grid[0]][shoot.grid[1]] !== "empty" ||
      shoot.result[0] === "repeated"
    ) return;
    boardSquares[shoot.grid[0]][shoot.grid[1]] = shoot.result[0] === 'water' ? shoot.result[0] : shoot.result[1];
    boardSquares = boardSquares;
  }

  export function endGame() {
    isEnded = true;
    boardSquares.forEach((cols, col) =>
      cols.forEach((square, row) => {
        if (square === "empty") boardSquares[col][row] = "water";
      })
    );
    boardSquares = boardSquares;
  }
</script>

<div
  class="w-full flex flex-col border-2 portrait:flex-row-reverse"
  style="background-image: url('{base}/waves.svg');">
  {#each boardSquares as cols, row}
    <div class="flex flex-grow portrait:flex-col">
      {#each cols as square, col}
        <div class="flex-1 relative portrait:rotate-90 flex items-center justify-center">
          <img class="opacity-0 pointer-events-none" src="{base}/twinpeaks.svg" alt="" />
          {#if square === "empty"}
            <button
              transition:fade={{ delay: 150, duration: 150 }}
              on:pointerup={() => shootSquare({ row, col })}
              class="absolute w-full h-full border-2 z-10 bg-black"
            />
          {:else}
            {#if !isEnded || square !== "water"}
            <Explosion />
            {/if}
            {#if square !== "water"}
            <div
              class="absolute w-full h-full flex bg-black"
              class:border-t-2={row === 0 || (boardSquares[row - 1] && boardSquares[row - 1][col] !== square)}
              class:border-b-2={row === boardSquares.length || (boardSquares[row + 1] && boardSquares[row + 1][col] !== square)}
              class:border-l-2={col === 0 || (boardSquares[row][col - 1] && boardSquares[row][col - 1] !== square)}
              class:border-r-2={col === cols.length || (boardSquares[row][col + 1] && boardSquares[row][col + 1] !== square)}
              >
              <div class="absolute w-full h-full overflow-hidden" style="transform: rotate({Math.round(Math.random() * 4) * 90}deg)">
                <img class="w-full h-full object-fill" src="./twinpeaks.svg" alt="navio destruido" />
              </div>
            </div>
            {/if}
          {/if}
          <div
            class="absolute z-10 w-full h-full pointer-events-none {highlightedSquare.col === col && highlightedSquare.row === row ? 'bg-opacity-40' : 'bg-opacity-20'}"
            class:bg-white={highlightedSquare.col === col || highlightedSquare.row === row}
            />
        </div>
      {/each}
      </div>
    {/each}
</div>