<script lang="ts">
  import { base } from "$app/paths";
  import { fly } from "svelte/transition";
  import MenuButton from "./menuButton.svelte";
  import HowToPlay from "./howToPlay.svelte";
  import About from "./about.svelte";
    import Icon from "./icon.svelte";

  export let joinedPlayers = 1;

  let isOpen = false;
  let isPage = null as null | "about" | "howTo";
</script>

<header class="relative z-50 flex items-center">
  <button
    class="flex items-center py-2"
    on:click={() => (isPage ? (isPage = null) : (isOpen = !isOpen))}
  >
    <MenuButton isActive={isOpen} isPage={isPage !== null} />
    <h1 class="font-bold">BATALHA NAVAL</h1>
  </button>
  {#if joinedPlayers > 1}
    <div class="ml-auto flex"><Icon type="users" /><span class="ml-2">{joinedPlayers}</span></div>
  {/if}
</header>

<aside
  class="absolute w-full h-full flex left-0 bg-black z-30 {isOpen
    ? 'translate-x-0'
    : '-translate-x-full'} transition-all ease-out pt-12"
>
  <div class="flex-1 relative">
    {#if !isPage}
      <div
        in:fly={{ x: 300, opacity: 0, duration: 300, delay: 300 }}
        out:fly={{ x: 300, opacity: 0, duration: 300 }}
        class="absolute w-full h-full flex flex-col items-center justify-center"
      >
        <button
          class="mt-auto uppercase font-bold"
          on:click={() => (isPage = "howTo")}
        >
          Como jogar?
        </button>
        <button
          class="mt-8 uppercase font-bold"
          on:click={() => (isPage = "about")}
        >
          Sobre o jogo
        </button>
        <a class="mt-auto mb-12 uppercase text-sm" href="{base}/">
          Retornar ao início
        </a>
      </div>
    {:else}
      <div
        in:fly={{ x: -300, opacity: 0, duration: 300, delay: 300 }}
        out:fly={{ x: -300, opacity: 0, duration: 300 }}
        class="absolute w-full h-full flex flex-col items-center overflow-y-auto"
      >
        {#if isPage === "about"}
          <About />
        {:else if isPage === "howTo"}
          <HowToPlay />
        {/if}
      </div>
    {/if}
  </div>
</aside>
