<script lang="ts">
  import ships from "$data/ships.json"
    import ShipModel from "./shipModel.svelte";
</script>

<div class="w-full max-w-2xl h-full mx-auto flex flex-col items-center px-6 overflow-y-auto">
  <h1 class="uppercase font-bold mt-12">Como jogar?</h1>
  <section class="w-full mt-8">
    <h2 class="font-bold underline mb-4">Instruções:</h2>
    <p class="mb-2">Jogue sozinho ou com mais jogadores aliados na tarefa de derrubar os navios.</p>
    <p>Cada jogador, na sua vez de jogar, seguirá o seguinte procedimento:</p>
    <ul class="list-decimal pl-4">
      <li>Disparará um tiro, clicando em um espaço disponível do mapa.</li>
      <li>
        Após cada um dos tiros, o mapa exibirá o resultado, podendo ser:
        <div class="flex mt-2">
          <div class="flex items-center mr-6"><img class="w-8 h-8 mr-4 border-2" src="./twinpeaks.svg" alt="navio destruido" /> Navio atingido</div>
          <div class="flex items-center"><img class="w-8 h-8 mr-4 border-2" src="./wave_example.svg" alt="água" /> Água</div>
        </div>
      </li>
      <li>Um navio é afundado quando todas as casas que formam esse navio for atingido.</li>
      <li>Ao afundar um navio, informações sobre ele poderão ser acessadas.</li>
    </ul>
    <p>O jogo termina quando os jogadores afundarem todos os navios negreiros.</p>
  </section>
  <section class="w-full my-8">
    <h2 class="font-bold underline">Navios disponíveis:</h2>
    <ol>
      {#each ships as ship}
        <li class="flex items-end">
          <div class="relative h-12 w-24 mr-6">
            <ShipModel {ship} />
          </div>
          {ship.name}
        </li>
      {/each}
    </ol>
  </section>
</div>

<style lang="postcss">
  li {@apply my-2}
</style>

