<script lang="ts">
  import { fly } from "svelte/transition";
    import MenuButton from "./menuButton.svelte";
    import HowToPlay from "./howToPlay.svelte";

  let isOpen = false;
</script>

<button
  in:fly={{ x: 300, opacity: 0, duration: 500 }}
  out:fly={{ x: -300, opacity: 0, duration: 500 }}
  class="px-4 py-2 hover:border-b-2"
  on:click={() => (isOpen = true)}
>
  COMO JOGAR?
</button>

<div
  class="absolute w-full h-full top-0 left-0 bg-black transition-all duration-500
        {isOpen ? 'translate-x-0' : '-translate-x-full'}"
>
  <button
    on:click={() => (isOpen = false)}
    class="absolute top-6 left-6"
  >
    <MenuButton isPage />
  </button>
  <HowToPlay />
</div>
