<script lang="ts">
  export let isActive = false;
  export let isPage = false;
</script>

<div
  class="center mr-3 w-4 h-4 flex flex-col justify-between"
  class:active={isActive}
  class:page={isPage}>
  <div></div>
</div>

<style lang="postcss">
  .center:before,
  .center:after,
  .center div {
    content: "";
    @apply bg-current block h-[2px] transition-all;
  }

  .center.active:before { @apply translate-y-[7px] -rotate-45; }
  .center.active:after { @apply -translate-y-[7px] rotate-45;  }
  .center.active div { @apply scale-0; }

  .center.page:before { @apply -translate-x-[25%] translate-y-[4px] -rotate-45 scale-x-50; }
  .center.page:after { @apply -translate-x-[25%] -translate-y-[4px] rotate-45 scale-x-50;  }
  .center.page div { @apply scale-100; }
</style>