<script lang="ts">
  import { base } from "$app/paths";
  import { fly } from "svelte/transition";
  import { quadOut } from "svelte/easing";
  import shipModels from "$data/ships.json";
  import { createEventDispatcher } from "svelte";
  import ShipModel from "./shipModel.svelte";

  const emit = createEventDispatcher();

  let ships = shipModels;

  export function sinkShip(shipNumber: number) {
    ships[shipNumber - 1].destroyed = true;
    ships = ships;
  }

  export function endGame() {
    ships.forEach((ship) => (ship.destroyed = true));
  }
</script>

<div
  class="relative flex-1 ml-8
        portrait:ml-0 portrait:w-full portrait:px-1 portrait:mt-4 portrait:pt-[33%]"
>
  <div class="absolute top-0 right-0 w-full h-full
              flex flex-col justify-between
              portrait:flex-auto portrait:flex-row portrait:flex-wrap">
  {#each ships as ship, key}
    <div
      class="relative w-full h-[15.5%] flex portrait:mt-6
            portrait:h-auto portrait:w-[30%] portrait:justify-between"
      style="order: {ship.order}"
    >
      {#if ship.destroyed === true}
        <button
          transition:fly={{
            x: -100,
            opacity: 0,
            easing: quadOut,
            duration: 300,
          }}
          class="absolute w-full h-full flex justify-center z-20 portrait:w-full"
          on:click={() => emit("openInfo", key)}
        >
          <img
            class="h-full"
            alt="{ship.name} {ship.date}"
            src="{base}/ships/{ship.image}.svg"
          />
        </button>
      {/if}
        <div
          class="h-full w-full flex justify-center transition-opacity duration-500"
          class:opacity-30={ship.destroyed === true}
          >
          <ShipModel {ship} />
        </div>
    </div>
  {/each}
  </div>
</div>
