<script lang="ts">
  export let ship: ShipModel;
</script>

<svg class="absolute h-full" id="Layer_1" data-name="Layer 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.79 240.89">
  <rect style="fill: {ship.shape.includes(2) ? '#fff' : '#000'}" x="250.89" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(1) ? '#fff' : '#000'}" x="125.45" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(3) ? '#fff' : '#000'}" x="376.34" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(4) ? '#fff' : '#000'}" y="125.45" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(7) ? '#fff' : '#000'}" x="376.34" y="125.45" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(6) ? '#fff' : '#000'}" x="250.89" y="125.45" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(0) ? '#fff' : '#000'}" width="115.45" height="115.45"/>
  <rect style="fill: {ship.shape.includes(5) ? '#fff' : '#000'}" x="125.45" y="125.45" width="115.45" height="115.45"/>
</svg>