<script lang="ts">
  import { base } from "$app/paths";
  import ships from "$data/ships.json";
  import { createEventDispatcher } from "svelte";
  import { fade } from "svelte/transition";

  const emit = createEventDispatcher();

  export let ship: number;
  export let isOpen: boolean;
</script>

<div
  class="relative w-full h-full bg-black border border-current"
>
  <button
    class="close"
    on:click={() => emit('close')}>
  </button>
  <div class="w-full h-full overflow-y-auto">
    {#if isOpen}
    <div
      transition:fade
      class="w-full max-w-xl min-h-full mx-auto flex flex-col p-6">
      <div class="flex-grow" />
      <header>
        <h1 class="text-2xl font-bold text-center">{ships[ship].name}</h1>
        <h2 class="text-sm text-center mb-6">{ships[ship].date}</h2>
      </header>
      <img
        class="h-40 my-6"
        alt="{ships[ship].name} {ships[ship].date}"
        src="{base}/ships/{ships[ship].image}.svg"
      />
      <h3 class="text-sm text-center my-6">{ships[ship].info.route}</h3>
      {#if ships[ship].info.hasOwnProperty("text")}
        <p class="mx-auto mb-6">{ships[ship].info.text}</p>
      {/if}

      <div class="w-full max-w-sm mx-auto pb-6">
        <p>
          <span>Bandeiras:</span>
          <b>{ships[ship].info.flag}</b>
        </p>
        <p>
          <span>Tipo de embarcação:</span>
          <b>{ships[ship].info.type}</b>
        </p>
        <p>
          <span>Tempo da travessia (média):</span>
          <b>{ships[ship].info.time}</b>
        </p>
        <p>
          <span>Pessoas transportadas:</span>
          <b>{ships[ship].info.departed}</b>
        </p>
        <p>
          <span>Pessoas mortas durante a viagem:</span>
          <b>{ships[ship].info.dead}</b>
        </p>
        <p>
          <span>Pessoas desembarcadas no Brasil:</span>
          <b>{ships[ship].info.arrived}</b>
        </p>
      </div>
      <div class="flex-grow" />
    </div>
    {/if}
  </div>
</div>

<style lang="postcss">
  b { @apply ml-auto flex items-center text-right; }
  p {@apply flex;}
  span { @apply text-sm; }

  .close {@apply absolute top-0 right-0 w-12 h-12 bg-black border border-current rounded-full translate-x-1/2 -translate-y-1/2 flex items-center justify-center;}
  .close::before {
    content: '';
    @apply absolute w-1/3 h-0 border-t border-current rotate-45;
  }
  .close::after {
    content: '';
    @apply absolute w-1/3 h-0 border-t border-current -rotate-45;
  }
</style>