<script lang="ts">
  import { base } from "$app/paths";
  import weapons from "$data/weapons.json"
</script>

<div class="h-full w-full flex flex-col portrait:flex-row flex-wrap portrait:h-[30vw]">
{#each weapons as weapon}
  <div class="flex-grow flex min-w-[33%]">
    <div class="min-h-full relative">
      <img
        class="absolute p-2 object-contain"
        src="{base}/weapons/{weapon.src}.svg"
        alt={weapon.name} />
    </div>
    <div class="flex-grow flex items-center justify-center text-lg">
      x{weapon.quant}
    </div>
  </div>
{/each}
</div>