<script lang="ts">
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  import { base } from "$app/paths";
  import { afterNavigate, goto } from "$app/navigation";
  import EnterScreen from "./enterScreen.svelte";
  import WaitingScreen from "./waitingScreen.svelte";
  import GameScreen from "./gameScreen.svelte";
  import { fly } from "svelte/transition";
  import MenuButton from "$lib/menuButton.svelte";
  import InstructionBox from "$lib/instructionBox.svelte";
    import GameMenu from "$lib/gameMenu.svelte";

  let websocket: WebSocket;
  let game: GameScreen;
  let player = "";
  let currentPlayer = "";
  let isConnected = false;
  let isOwner = false;
  let isGameStarted = false;
  let joinedPlayers = 1;
  let rooms = [] as number[];

  onMount(setWebsocketConnection);

  afterNavigate(({ to }) => {
    if (!to || !to.params || "room" in to.params) return;
    resetGame();
  });

  function resetGame() {
    websocket.close(1000);
    if ("room" in $page.params) {
      goto(`${base}/`).then(() => {
        if(window) window.location.reload()
      })
    };
    player = "";
    isConnected = false;
    isOwner = false;
    isGameStarted = false;
    joinedPlayers = 1;
    setWebsocketConnection();
  }
  function setWebsocketConnection() {
    websocket = new WebSocket(import.meta.env.VITE_API);
    websocket.addEventListener("open", setRoom);
    websocket.addEventListener("message", receiveMessage);
  }

  function setRoom() {
    isConnected = true;
    if (!("room" in $page.params)) return;
    websocket.send(JSON.stringify({ join: $page.params.room }));
  }

  function receiveMessage({ data }: MessageEvent<any>) {
    const event = JSON.parse(data) as GameEvent;
    switch (event.type) {
      case "init":
        goto(`${base}/${event.join}`);
        break;
      case "play":
        managePlay(event.result);
        break;
      case "won":
        websocket.close(1000);
        break;
      case "error":
        console.log(event.message);
        resetGame();
        break;
      case "game_started":
        currentPlayer = event.next_turn;
        isGameStarted = true;
        break;
      case "player_id":
        player = event.player_id;
        if (!isOwner) joinedPlayers = event.num_players;
        break;
      case "next_player":
        currentPlayer = event.player_id;
        break;
      case "wait_your_turn":
        break;
      case "player_joined":
        joinedPlayers = event.num_players;
        break;
      case "list-rooms":
        rooms = event.rooms;
        break;
      case "room-closed":
        console.log('room-closed');
        break;
      default:
        throw new Error(`Unsupported event: ${event}.`);
    }
  }

  function requestNewGame() {
    isOwner = true;
    websocket.send(JSON.stringify({ type: "init" }));
  }

  function startGame() {
    websocket.send(JSON.stringify({ type: "start" }));
  }

  function playGame(event: CustomEvent) {
    websocket.send(JSON.stringify(event.detail));
  }

  function managePlay(response: ShootResult) {
    if (!game) return;
    if (response["next_turn"]) currentPlayer = response["next_turn"];
    game.shootResponse(response);
  }

  function listRooms() {
    websocket.send(JSON.stringify({ type: "list-rooms" }));
  }

  function joinRoom(event: CustomEvent) {
    websocket.send(JSON.stringify({ join: event.detail }));
    goto(`${base}/${event.detail}`)
  }
</script>

{#if !isGameStarted}
  <div
    class="absolute w-full h-full flex flex-col items-center justify-center overflow-hidden"
  >
    {#if "room" in $page.params}
      <a
        transition:fly={{ x: -50, opacity: 0 }}
        href="{base}/"
        class="absolute top-6 left-6"
      >
        <MenuButton isActive />
      </a>
    {/if}
    <div class="h-1/3 flex flex-col items-center justify-end pb-8">
      <h1
        in:fly={{ x: 300, opacity: 0, duration: 500, delay: 500 }}
        out:fly={{ x: -300, opacity: 0, duration: 500, delay: 500 }}
        class="font-bold text-4xl text-center"
      >
        BATALHA NAVAL
      </h1>
      <div
        in:fly={{ x: 300, opacity: 0, duration: 500, delay: 350 }}
        out:fly={{ x: -300, opacity: 0, duration: 500, delay: 350 }}
        class="mt-2"
      >
        e se mudássemos a história?
      </div>
    </div>
    <div
    in:fly={{ x: 300, opacity: 0, duration: 500, delay: 250 }}
    out:fly={{ x: -300, opacity: 0, duration: 500, delay: 250 }}
    class="h-1/2 w-full relative"
    >
      {#if isConnected}
      {#if !("room" in $page.params)}
        <EnterScreen
          {rooms}
          on:new={requestNewGame}
          on:join={joinRoom}
          on:getRooms={listRooms} />
      {:else}
        <WaitingScreen {isOwner} {joinedPlayers} on:start={startGame} />
      {/if}
      {/if}
    </div>
    <div class="flex-grow w-full flex flex-col justify-center items-center">
      <InstructionBox />
    </div>
  </div>
{:else}
<div
    in:fly={{x: 300, opacity: 0, duration: 300, delay: 600}}
    out:fly={{x: -300, opacity: 0, duration: 300}}
    class="absolute w-full h-full flex flex-col p-6 pt-0">
    <GameMenu joinedPlayers={joinedPlayers} />
    <GameScreen
      bind:this={game}
      {player}
      {currentPlayer}
      on:shoot={playGame}
    />
  </div>
{/if}
