<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
    import Icon from "$lib/icon.svelte";
  import { createEventDispatcher, onMount } from "svelte";
  import { fly } from "svelte/transition";

  export let rooms: number[];
  let startingFrame = 0;

  const emit = createEventDispatcher();

  onMount(() => requestAnimationFrame(watchRooms));

  function watchRooms(frame: number) {
    if ("room" in $page.params) return;
    if (frame - startingFrame > 500) {
      startingFrame = frame;
      emit("getRooms");
    }
    requestAnimationFrame(watchRooms);
  }
</script>

<div class="absolute w-full h-full flex flex-col items-center justify-center">
  <div
    in:fly={{ x: 300, opacity: 0, duration: 500, delay: 250 }}
    out:fly={{ x: -300, opacity: 0, duration: 500, delay: 250 }}
    class="h-1/2 w-full flex flex-col items-center justify-center"
  >
    <button
      in:fly={{ x: 300, opacity: 0, duration: 500, delay: 150 }}
      out:fly={{ x: -300, opacity: 0, duration: 500, delay: 250 }}
      class="border-2 px-4 py-2"
      on:click={() => emit("new")}
    >
      CRIAR UM NOVO JOGO
    </button>
  </div>

  <div class="h-1/2 px-6 flex flex-col justify-start items-center">
    <div
      class="h-full flex flex-col"
      in:fly={{ x: 300, opacity: 0, duration: 500, delay: 50 }}
      out:fly={{ x: -300, opacity: 0, duration: 500, delay: 50 }}>
      <h2 class="border-b-2 px-4 py-2 mb-4">CONECTAR A UMA SALA</h2>
      <ol class="text-center flex-grow overflow-y-auto">
        {#each rooms as room}
          <li class="flex flex-col items-center">
            <button
              class="flex items-center"
              on:click={() => emit("join", room)}>
              <Icon type="link"/><span class="ml-2">{room}</span>
            </button>
          </li>
        {/each}
      </ol>
    </div>
  </div>
</div>
