<script lang="ts">
  import { base } from "$app/paths";
  import { createEventDispatcher } from "svelte";
  import Board from "$lib/board.svelte";
  import ShipInfo from "$lib/shipInfo.svelte";
  import ShipShowcase from "$lib/shipShowcase.svelte";
  import { fly } from "svelte/transition";
  import WaitingAnimation from "$lib/waitingAnimation.svelte";

  const emit = createEventDispatcher();

  export let player: string;
  export let currentPlayer: string;

  $: canPlay = player === currentPlayer;

  let ships: ShipShowcase;
  let board: Board;
  let isShipInfoOpen = false;
  let delayInfoOpen = true;
  let isGameEnded = false;
  let shipInfo = 0;

  function sinkShip(shipKey: number) {
    delayInfoOpen = true;
    openShipInfo(shipKey);
  }

  function openShipInfo(shipKey: number) {
    shipInfo = shipKey;
    isShipInfoOpen = true;
  }

  function closeShipInfo() {
    delayInfoOpen = false;
    isShipInfoOpen = false;
  }

  function shootSquare(event: CustomEvent) {
    const shot = {
      type: "play",
      column: parseInt(event.detail.col),
      row: parseInt(event.detail.row),
    };
    emit("shoot", shot);
  }

  export function shootResponse(response: ShootResult) {
    if (!board) return;
    board.hitSquare(response);
    if (
      response.result[0] === "sank-ship" ||
      response.result[0] === "sank-all"
    ) {
      ships.sinkShip(response.result[1]);
      sinkShip(response.result[1] - 1);
    }
    if (response.result[0] === "sank-all") {
      ships.endGame();
      board.endGame();
      isGameEnded = true;
    }
  }
</script>

<svelte:head>
  <link rel="preload" href="{base}/ships/brinquedo.svg" as="image" />
  <link rel="preload" href="{base}/ships/caridade.svg" as="image" />
  <link rel="preload" href="{base}/ships/destino.svg" as="image" />
  <link rel="preload" href="{base}/ships/intencao.svg" as="image" />
  <link rel="preload" href="{base}/ships/regeneradora.svg" as="image" />
  <link rel="preload" href="{base}/ships/vingativa.svg" as="image" />
</svelte:head>

<div class="relative w-full mx-auto flex-grow flex overflow-hidden max-w-[162vh]
            portrait:overflow-y-auto portrait:max-w-[58vh]">
  <div
    class="absolute w-full max-h-full flex justify-center
    portrait:flex-col portrait:max-h-none"
  >
    <div
      class="relative w-3/4 transition-opacity duration-500 portrait:w-full"
    >
      {#if !canPlay}
      <div
        in:fly={{x: -150, opacity: 0, duration: 300, delay: 500}}
        out:fly={{x: 150, opacity: 0, duration: 300}}
        class="absolute flex flex-col items-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30 p-12 bg-black"
      >
        <h3 class="mb-6 text-lg">Aguarde as outras pessoas jogarem.</h3>
        <WaitingAnimation />
      </div>
      {:else if isGameEnded}
      <div
        in:fly={{x: -150, opacity: 0, duration: 300, delay: 500}}
        out:fly={{x: 150, opacity: 0, duration: 300}}
        class="absolute flex flex-col items-center justify-around w-full h-full z-30 p-12 bg-black bg-opacity-70"
      >
        <h3 class="mb-6 text-lg">Fim de jogo.</h3>
        <div class="overflow-y-auto">
          <p>Durante três séculos quase 5 milhões de pessoas escravizadas foram trazidas ao Brasil vindas do continente africano.</p>
          <p>Outros dois milhões delas morreram na travessia do Atlântico.</p>
          <p>Seguiu-se assim uma falsa abolição, sem garantias sociais efetivas.</p>
          <p>A história tal qual imposta, contada de forma extremamente perversa, parcial e lacunar precisa ser recontada possibilitando formas outras da comunicação de nossas presenças, reconhecendo e compreendendo nossas inscrições como parte fundamental para produzirmos um reposicionamento histórico e de justiça cognitiva/social.</p>
        </div>
        <a class="underline mt-4" href="{base}/">Retornar ao início</a>
      </div>
      {/if}
      <div
        class="transition-opacity duration-300 delay-500"
        class:opacity-30={!canPlay}
        class:pointer-events-none={!canPlay}
      >
        <Board
          bind:this={board}
          on:shoot={shootSquare}/>
      </div>
    </div>
    <ShipShowcase
      bind:this={ships}
      on:openInfo={(event) => openShipInfo(parseInt(event.detail))}
    />
  </div>
  <aside
    class="absolute w-full h-full bg-black border-current p-2 transition-all ease-in-out duration-500 z-30 delay-300
          {isShipInfoOpen ? 'translate-x-0' : 'translate-x-full'}"
    class:delay-300={delayInfoOpen}
  >
    <ShipInfo
      ship={shipInfo}
      isOpen={isShipInfoOpen}
      on:close={closeShipInfo}
    />
  </aside>
</div>

<style lang="postcss">
  p {@apply mb-2}
</style>