<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import Icon from "$lib/icon.svelte";
  import { createEventDispatcher } from "svelte";
  import { fly } from "svelte/transition";

  const emit = createEventDispatcher();

  export let isOwner: boolean;
  export let joinedPlayers: number;

  let isCopied = false;
  const currentRoom = $page.params.room;

  function copyCode() {
    isCopied = true;
    navigator.clipboard.writeText(`${$page.url.origin}/${currentRoom}`);
  }
</script>

<div class="absolute w-full h-full flex flex-col items-center justify-around">
  <h2
    in:fly={{ x: 300, opacity: 0, duration: 300, delay: 600 }}
    out:fly={{ x: -300, opacity: 0, duration: 300, delay: 200 }}
    class="text-xl font-bold">
    SALA {currentRoom}
  </h2>
  <div class="flex flex-col items-center">
  {#if isOwner}
    <p
      in:fly={{ x: 300, opacity: 0, duration: 300, delay: 550 }}
      out:fly={{ x: -300, opacity: 0, duration: 300, delay: 150 }}
      >
      {#if joinedPlayers === 1 }
        {@html "Jogue sozinha" }
      {:else if joinedPlayers === 2 }
        {@html "Jogue com uma pessoa conectada"}
      {:else}
        {@html `Jogue com as ${joinedPlayers - 1} pessoas conectadas`}
      {/if}
    </p>
    <button
      in:fly={{ x: 300, opacity: 0, duration: 300, delay: 500 }}
      out:fly={{ x: -300, opacity: 0, duration: 300, delay: 100 }}
      class="px-4 py-2 border-2 border-white mt-4 text-xl"
      on:click={() => emit("start")}
    >
      INICIAR A PARTIDA
    </button>
  {:else}
    <p
      in:fly={{ x: 300, opacity: 0, duration: 300, delay: 550 }}
      out:fly={{ x: -300, opacity: 0, duration: 300, delay: 150 }}
      >
      {joinedPlayers} pessoas na sala.
    </p>
    <p
      in:fly={{ x: 300, opacity: 0, duration: 300, delay: 500 }}
      out:fly={{ x: -300, opacity: 0, duration: 300, delay: 100 }}
      class="mx-6 mt-6 text-center"
    >
      Aguarde outras pessoas conectarem para o início da partida.
    </p>
  {/if}
  </div>
  <div class="w-full px-6 flex flex-col justify-start items-center">
    <div
      in:fly={{ x: 300, opacity: 0, duration: 300, delay: 400 }}
      out:fly={{ x: -300, opacity: 0, duration: 300 }}
      class="flex flex-col items-center"
    >
      <p class="text-center">convide mais jogadores com o link:</p>
      <button
        class="border-2 py-1 px-2 mt-4"
        on:click={copyCode}
      >
        <a class="flex items-center" href="{$page.url.origin}/{currentRoom}">
          <Icon type={isCopied ? "check" : "link"} />
          <span class="ml-3">{$page.url.origin}/{currentRoom}</span>
        </a>
      </button>
    </div>
  </div>
</div>
