<script lang="ts">
    import { goto } from "$app/navigation";
    import { base } from "$app/paths";

  function start() {
    if(!document.getElementsByTagName('main')) return
    const el = document.getElementsByTagName('main')[0];
    if (el.requestFullscreen) {
      el.requestFullscreen()
        .then(initializeGame);
    } else if (el.webkitRequestFullscreen) { /* Safari */
      el.webkitRequestFullscreen()
        .then(initializeGame);
    } else if (el.msRequestFullscreen) { /* IE11 */
      el.msRequestFullscreen()
        .then(initializeGame);
    }
  }

  function initializeGame() {
    goto(`${base}/`)
  }
</script>

<div class="flex w-full items-center justify-center">
<button
  class="border-2 px-4 py-2"
  on:click={start}
  >
  CRIAR UM NOVO JOGO
</button>
</div>