@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

html, body {
  @apply h-full bg-black text-white overflow-x-hidden;
  font-family: 'PT Sans';
  flex-grow: 1;
}